.recipe-carousel .slick-arrow {
    z-index: 1;
    width: 30px;
    height: 30px;
    color: #a84e24;
  }
  
  .recipe-carousel .slick-prev {
    left: -35px;
  }
  
  .recipe-carousel .slick-next {
    right: -35px;
  }
  
  .recipe-carousel .slick-dots li button:before {
    color: #a84e24;
  }
  
  .recipe-carousel .slick-slide {
    padding: 0 10px;
  }
  
  